[Unit]
Description=OjoCourse UWSGI Daemon
After=network.target

[Service]
WorkingDirectory=/opt/OjoCourse
ExecStart=uwsgi uwsgi.ini

[Install]
WantedBy=multi-user.target